 <div class="container">
     <form method="post" action="/manage/categories">
         <div class="form-group">
             <label for="name">Name</label>
             <input type="text" class="form-control" name="name">
         </div>
         <button type="submit" class="btn btn-primary">submit</button>
     </form>
 </div>
 


